In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('dataPreprocess/AlexacombinedReviews.csv')
df.head()

,verified_reviews,paraphrased_reviews
0,Love my Echo!,\n\nI'm so fond of my Echo!
1,Loved it!,\n\nI adored it!
2,"Sometimes while playing a game, you can answer...","\n\nSometimes when playing a game, I can answe..."
3,I have had a lot of fun with this thing. My 4 ...,\n\nI've had a blast with this device. My four...
4,Music,is the food of the soul\n\nMusic nourishes th...

In [3]:
df.shape

(3150, 2)

In [4]:
df.isnull().sum()

verified_reviews       0
paraphrased_reviews    1
dtype: int64

In [5]:
mask = df.isnull()
row_has_missing = mask.any(axis=1)
print("Row indices with missing values:")
print(df.index[row_has_missing].tolist())

Row indices with missing values:
[434]

In [6]:
df.dropna(inplace=True)

In [7]:
df.shape

(3149, 2)

In [8]:
import re
# define a regular expression to match any newline character
newline_regex = re.compile(r'\r?\n')

# define a lambda function to remove any newline characters from a string
remove_newlines = lambda s: newline_regex.sub('', s)

# apply the lambda function to the 'paraphrased_reviews' column
df['paraphrased_reviews'] = df['paraphrased_reviews'].apply(remove_newlines)

In [9]:
# for i in df['paraphrased_reviews']:
#     if '\n' in i:
#        i=i.replace('\n','')

In [10]:
# def remove_char(remove_newlines):
#     remove_newlines = lambda x: x.replace('\n', '')
#     return remove_newlines

In [11]:
# df['paraphrased_reviews'] = df['paraphrased_reviews'].replace(remove_char)

In [12]:
df.head()

,verified_reviews,paraphrased_reviews
0,Love my Echo!,I'm so fond of my Echo!
1,Loved it!,I adored it!
2,"Sometimes while playing a game, you can answer...","Sometimes when playing a game, I can answer a ..."
3,I have had a lot of fun with this thing. My 4 ...,I've had a blast with this device. My four yea...
4,Music,is the food of the soulMusic nourishes the sp...

In [13]:
count=0
for i in df['verified_reviews']:
    if len(i)==1:
        count+=1
        # print(i)
print(count)

81

In [16]:
df = df[~(df['verified_reviews'].str.len() == 1)]

In [17]:
df.head()

,verified_reviews,paraphrased_reviews
0,Love my Echo!,I'm so fond of my Echo!
1,Loved it!,I adored it!
2,"Sometimes while playing a game, you can answer...","Sometimes when playing a game, I can answer a ..."
3,I have had a lot of fun with this thing. My 4 ...,I've had a blast with this device. My four yea...
4,Music,is the food of the soulMusic nourishes the sp...

In [18]:
df['verified_reviews'].isnull().sum()

0

In [20]:
df = df[~(df['verified_reviews'].str.split(" ").str.len() == 1)]

In [21]:
df.shape

(2997, 2)

In [22]:
df.tail()

,verified_reviews,paraphrased_reviews
3144,love it,or leave itTake it or leave it.
3145,"Perfect for kids, adults and everyone in betwe...",Great for all ages!
3146,"Listening to music, searching locations, check...","There are many more tasks that can be learned,..."
3147,"I do love these things, i have them running my...",I'm really fond of these gadgets; they control...
3148,Only complaint I have is that the sound qualit...,My only issue with the dot is the sound qualit...

- emoji in-between
- one word
-

In [ ]:
emoticons = re.compile('[:;=]-?[)(DP]')

df['verified_reviews'] = df['verified_reviews'].replace(emoticons, '')

# print(df["verified_reviews"][19])

In [39]:
# from transformers import GPT2Tokenizer
# model_name="gpt2"

In [42]:
X = df.drop('paraphrased_reviews',axis=1)
Y = df['paraphrased_reviews']

In [43]:
from sklearn.model_selection import train_test_split
x_train, y_train,x_test,y_test = train_test_split(df, test_size=0.2, random_state=265)
print(x_train)

ValueError: not enough values to unpack (expected 4, got 2)

In [41]:
from transformers import GPT2Tokenizer

tokenizer = GPT2Tokenizer.from_pretrained('gpt2')

# Tokenize text column
df['verified_reviews'] = df['verified_reviews'].apply(lambda x: tokenizer.encode(x))
df['paraphrased_reviews'] = df['paraphrased_reviews'].apply(lambda x: tokenizer.encode(x))

# Print updated data frame
print(df)

Downloading:   0%|          | 0.00/1.04M [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/456k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/665 [00:00<?, ?B/s]

                                       verified_reviews  \
0                                [18565, 616, 21455, 0]
1                                    [43, 2668, 340, 0]
2     [15468, 981, 2712, 257, 983, 11, 345, 460, 328...
3     [40, 423, 550, 257, 1256, 286, 1257, 351, 428,...
5     [40, 2722, 262, 9809, 355, 257, 6979, 13, 314,...
...                                                 ...
3144                                       [23205, 340]
3145  [36635, 329, 3988, 11, 6490, 290, 2506, 287, 1...
3146  [8053, 3101, 284, 2647, 11, 10342, 7064, 11, 1...
3147  [40, 466, 1842, 777, 1243, 11, 1312, 423, 606,...
3148  [10049, 8224, 314, 423, 318, 326, 262, 2128, 3...

                                    paraphrased_reviews
0            [40, 1101, 523, 16245, 286, 616, 21455, 0]
1                               [40, 512, 1850, 340, 0]
2     [15468, 618, 2712, 257, 983, 11, 314, 460, 328...
3     [40, 1053, 550, 257, 11975, 351, 428, 3335, 13...
5     [40, 373, 22527, 281, 21455, 290, 314, 2227, 1...
...                                                 ...
3144   [393, 2666, 340, 12322, 340, 393, 2666, 340, 13]
3145                         [13681, 329, 477, 9337, 0]
3146  [1858, 389, 867, 517, 8861, 326, 460, 307, 449...
3147  [40, 1101, 1107, 16245, 286, 777, 35281, 26, 4...
3148  [3666, 691, 2071, 351, 262, 16605, 318, 262, 2...

[2997 rows x 2 columns]

In [56]:
c = 1048576
print(0x80 | (c >> 21))
# print(0x80 | (c & 0x3F))
# print(0xe0 | (c >> 18))
# print(0x80 | (c & 0x3F))

128